*{
    background-color: rgb(26, 25, 25);
    color: azure;
}

header{
    width: auto;
    height: 50px;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-shortcuts{
    width: 700px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

header nav .premium-container{
    width: 23%;
    justify-content: end;
    text-align: center;
}

a{
    text-decoration: none;
    cursor: pointer;
}