*{
    background-color: rgb(46, 44, 44);
    color: rgb(230, 226, 176);
    list-style: none;
    margin: 0px;
    padding: 0px;
}

header{
    width: auto;
    height: 100px;
    color: rgb(151, 214, 43);
    list-style: none;
}

header nav{
    display: flex;
    justify-content: flex-end;
    
}

header nav .nav-shortcuts{
    width: 700px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

header nav .premium-container{
    width: 23%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
    
    
}

a{
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

header nav .nav-shortcuts .icon-inicio{
    background-image: url(https://www.shutterstock.com/image-vector/flat-paper-cut-style-icon-600w-598926173.jpg) ; /*URL de la imagen/ícono del menú de los puntitos*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    width: 45px;
    height: 45px;
}

header nav .nav-shortcuts .icon-mi_red{
    background-image: url(https://www.shutterstock.com/image-vector/people-icon-vector-logo-design-600w-1511927708.jpg); /*URL de la imagen/ícono del menú de los puntitos*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    width: 45px;
    height: 45px;
}

header nav .nav-shortcuts .icon-empleos{
    background-image: url(https://www.shutterstock.com/image-vector/briefcase-vector-icon-bagportfolio-symbol-600w-1171068547.jpg); /*URL de la imagen/ícono del menú de los puntitos*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    width: 45px;
    height: 45px;
}

header nav .nav-shortcuts .icon-mensajes{
    background-image: url(https://www.shutterstock.com/image-vector/chat-icon-symbol-vector-illustration-600w-1589556166.jpg); /*URL de la imagen/ícono del menú de los puntitos*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    width: 45px;
    height: 45px;
    
}

header nav .nav-shortcuts .icon-notificaciones{
    background-image: url(https://www.shutterstock.com/image-vector/notifications-bell-icon-vector-illustration-600w-1197325894.jpg); /*URL de la imagen/ícono del menú de los puntitos*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    width: 45px;
    height: 45px;
    
}

header nav .nav-shortcuts .icon-notificaciones a{
    display: flex;
    justify-content: center;
    list-style: none;
    

}
header nav .nav-shortcuts .icon-yo{
    background-image: url(https://media.licdn.com/dms/image/C5603AQGRPBmfBd_wCQ/profile-displayphoto-shrink_100_100/0/1651290113289?e=1693440000&v=beta&t=cVV7YybL8UNAOwI02a-7yWE_l2FmSyUNY-F9uFEBYuc); /*URL de la imagen/ícono del menú de los puntitos*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 25px;

}

header nav section .linkedIn-icon{
    
    justify-content: space-between;
    background-image: url(https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../releases/preview/2012/png/iconmonstr-linkedin-5.png&r=0&g=0&b=0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 25px;
    list-style: none;
    
}

header .finder{
    display: flex;
    align-items: center;
    list-style: none;

}

main{
    background-color: aqua;
    display: flex;
    justify-content: center;
}

main .principal{
    background-color: rgb(21, 0, 255);
    display: flex;
    
    
}

main .news{ /*no sale en la página*/
    justify-content: space-between;
    background-color: rgb(0, 139, 16);
    display: flex;
    width: 20%;
    
}

main .principal .profile .mi-info{
    display: flex;
    width: 100%;
    background-color: rgb(23, 23, 24); /*para comentar al finalizar*/
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main .principal .profile .mi-info #nombre-titulo{
    padding: 30px;
}

main .principal .profile .mi-info #nombre-titulo img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    
}

main .principal .profile .mi-info #conexiones{
    padding: 30px 15px;
    text-align: justify;
    width: auto;
}

.recientes{
    text-align: justify;
    padding: 30px 15px;
    text-align: justify;

}

main .principal .profile .mi-info #herramientas{
    padding: 30px 15px;
    text-align: justify;
}

main .principal .profile .mi-info #marcapags{
    display: flex; 
    padding: 30px 15px;
    text-align: justify;
    list-style: none;
}

h3{
    justify-content: center;
    align-items: center;
    align-self: auto;
}

.center{
    width: 40%;
    background-color: rgb(9, 9, 9);
    display: flex;
    padding: 30px;
    
    
    
}

.center .mis-publicaciones{
    display: flex;
    
}

.center .mis-publicaciones #foto-perfil img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: flex-start;
}


main .main-input{
    width: 100%;
    display: flex;
    background-color: crimson;
    align-items: center;
    

}

main .main-input-container{
    width: 530px;
    border-radius: 100px;
    border: 2px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
}

main .main-input input{
    width: 450px;
    height: 20px;
    border: none;
    
}

.center .mis-publicaciones .iconos-publicacion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

center .mis-publicaciones .para-publicar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center .mis-publicaciones .iconos-publicacion #foto{
    display: flex;
    background-image: url(https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../releases/preview/2018/png/iconmonstr-photo-camera-thin.png&r=0&g=0&b=0); /*URL de la imagen/ícono del menú de los puntitos*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    width: 40px;
    height: 40px;


}

.center .mis-publicaciones .iconos-publicacion #video{
    display: flex;
    background-image: url(https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../releases/preview/2018/png/iconmonstr-video-camera-thin.png&r=0&g=0&b=0); /*URL de la imagen/ícono del menú de los puntitos*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    width: 40px;
    height: 40px;

}

.center .mis-publicaciones .iconos-publicacion #evento{
    display: flex;
    background-image: url(https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../releases/preview/2018/png/iconmonstr-calendar-thin.png&r=0&g=0&b=0); /*URL de la imagen/ícono del menú de los puntitos*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    width: 40px;
    height: 40px;

}

.center .mis-publicaciones .iconos-publicacion #articulo{
    display: flex;
    background-image: url(https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../releases/preview/2013/png/iconmonstr-pen-18.png&r=0&g=0&b=0); /*URL de la imagen/ícono del menú de los puntitos*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    width: 40px;
    height: 40px;

}

main .news .noticias #news p{
    font-size: x-large;
    font-style: italic;
    list-style: circle;
    
}

main .news .noticias #news .negritas{
    list-style: circle;
    list-style: circle;
}

main .news .noticias #news .simple{
    display: flex;
    list-style: circle;
}



/*Link para las publicaciones:  https://www.linkedin.com/company/devf/?lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BmZHJ1zSQRfyS2Yhq9QPKVw%3D%3D*/
