
* {
    background-color: rgb(13, 13, 13);
    color: rgb(230, 226, 176);
    list-style: none;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #262528;
    color: rgb(230, 226, 176);
}

header {
    background-color: rgb(13, 13, 13);
    color: rgb(100, 183, 231);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .lnkdn_img {
    display: flex;
    align-items: center;
    gap: 8px;
}

header .lnkdn_img img {
    width: 50px;
    height: 40px;
    margin-right: 10px;
}

header .lnkdn_img input {
    width: 200px;
    height: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

header h1, h2 {
    margin: 5px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header_pic img {
    width: 30px;
    border-radius: 50%;
    gap: 8px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.sidebar, .widgets {
    background-color: rgb(50, 51, 52);
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    width: 100px;
    border-radius: 50%;
}

.profile h2 {
    margin-top: 10px;
}

.shortcuts a {
    display: block;
    color: #242627;
    text-decoration: none;
    margin-top: 10px;
}

.main-content {
    background-color: rgb(50, 51, 52);
    display: grid;
    grid-template-rows: auto;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
    margin-bottom: 20px;
    height: 90px;
}

.post input {
    width: 80%;
    height: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.publication-area {
    display: flex;
    align-items: center;
    height: 90px;
}

.feed {
    height: 550px;
}

.button-group {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.post button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.main-content .post .publication-area img {
    width: 30px;
    display: flexbox;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
}

.contacts-publication {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contacts-publication img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.contacts-publication .contact-info {
    display: flex;
    flex-direction: column;
}

.contacts-publication .contact-info .time {
    font-size: 12px;
    color: gray;
}

.posted-text {
    margin-top: 10px;
}

.feed-from-people {
    background-color: #35343c;
    
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.feed-from-people p {
    margin-top: 5px;
    color: #e6e2b0;
}

.post button:hover {
    background-color: #008229;
}

.widget {
    margin-bottom: 20px;
}

.widget h4 {
    margin-top: 0;
}

.profile, .shortcuts, .feed, .widget {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

body .container .sidebar .recientes {
    text-align: justify;
}

body .container .sidebar #conexiones {
    display: flex;
    padding: 30px 15px;
    width: auto;
}

body .container .sidebar #conexiones #texto {
    padding: 30px 15px;
    text-align: justify;
    width: max-content;
    list-style-type: none;
}

body .container .sidebar #conexiones #numeros {
    padding: 30px 15px;
    text-align: right;
    width: 50px;
}

.widgets .time {
    font-size: 12px;
    color: gray;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    header {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
    }

    .post input {
        width: 100%;
    }

    .button-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .contacts-publication img {
        width: 40px;
        height: 40px;
    }
}
